.banner{
    background: url(../src/62685.png);
    min-height: 530px;
    position:static;
    background-size: cover;
    background-position: center;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;
}
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoSansCond-500','Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
    
    background: url(../src/fondo-lineup.png)
}
/* el menu */
header{
    width: 100%;
    height: 50px;
    background-color: rgb(39, 37, 37);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.img-banner{
    float: left;
    max-width: 5%;
    max-height: 5%;
    margin: 6px 0;
}
.contenedor{
    width: 98%;
    margin: auto;
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu li{
    border-left: 1px solid #fff;
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: end;
}
.menu li:hover{
    background: rgba(0, 0, 0, 3);
}

#menu-bar{
   display: none;
}
#menu-bar:checked ~ .menu{
    
}
header label{
    float: right;
    height: 30%;
    margin: 6px 0;
    cursor: pointer;
}
header .contenedor{
    display: table;
} 
/* empieza el la descripcion del evento aqui */
#bienvenidos{
    text-align: center;
    color: #fff;
}
.participar{
    padding: 0px 20px;

}
.flex-bienvenida{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #202020;
    
}
.flex-bienvenida div{
    text-align: left;
    
}

.flex-contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: yellow;
    max-height: 268vh;
    background-color: rgb(35, 92, 197);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: gold;
    -webkit-text-stroke: 0.5px black;

}
.titulo-participacion{
    color: pink !important;
    -webkit-text-stroke: 1px black;
}

.colorhoratio{
    color: yellow;
    font-size: 24px;
}
.titulo2{
    margin: 45px;
    top: 50%;
    text-align: center;
    color: greenyellow;
}
/* programacion */
.programacion{
    background-color: #202020;
    text-align: center;
}
.flex-programacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}
.flex-programacion div{
    background-color: orange;
    width: 135px;
    height: 130px;
    margin: 0;
    text-align: center;
    line-height: 10px;
    border: 2px solid black;
}

.flex-p{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.titulop div{
    background-color: orange;
    width: 1000px;
    height: 100px;
    margin: 0;
    text-align: center;
    line-height: 10px;
    border: 2px solid black;
}´
.titulop{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 18px;
}
.colorp{
    color: #fff;
}
/* lista musica */
.flex-musica{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    padding: 10px;
}
.flex-musica div{
   
    width: 50%;
    height: 400px;
    margin: 0;
    text-align: center;
    line-height: 10px;
    border: 2px solid black;
}
.boletas{
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    background-color: #621ed1;
    padding: 10px 25px;
    margin-bottom: 25px;
    line-height: .8;
}
.boletas table{
    margin: 10px;
    border: 2px solid black;
    background-color: orange;
    font-size: 18px;
    width: 450px;
    
}
.colort{
    color: #621ed1;
    background-color: #6abf4b;
}
.reserva{
    background-color: rgb(248, 104, 8);
    text-align: center;
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 10px;
}
.flex-patrocinio{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    
}
.p-bienvenido{
    padding: 15px;
}
.flex-patrocinio div{
    width: 100px;
    justify-content: center;
    margin: 10px;
    padding: 0;
    text-align: center;
}
footer{
    background-color: #fff;
}
footer .contenedorf{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy{
    font-size: 20px;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    color: #333;
    text-decoration: none;
}
footer img{
    justify-content: left;
}
/*animaciones*/
/*fila1*/
.celia1 {
    position: relative;
  }
  
  .celia1 .celia2 {
    position: absolute;  
    top: 0;  
    left: 105px;
    opacity: 0;
    transition: .5s;
  }
  
  .celia1:hover .celia2 {
    opacity: 1;
  }
  .pink1 {
    position: relative;
  }
  
  .pink1 .pink2 {
    position: absolute;  
    top: 0;  
    left: 105px;
    opacity: 0;
    transition: .5s;
  }
  
  .pink1:hover .pink2 {
    opacity: 1;
  }
  .king1 {
    position: relative;
  }
  
  .king1 .king2 {
    position: absolute;  
    top: 0;  
    left: 105px;
    opacity: 0;
    transition: .5s;
  }
  
  .king1:hover .king2 {
    opacity: 1;
  }
  .koven1 {
    position: relative;
  }
  
  .koven1 .koven2 {
    position: absolute;  
    top: 0;  
    left: 105px;
    opacity: 0;
    transition: .5s;
  }
  
  .koven1:hover .koven2 {
    opacity: 1;
  }
  .david1 {
    position: relative;
  }
  
  .david1 .david2 {
    position: absolute;  
    top: 0;  
    left: 105px;
    opacity: 0;
    transition: .5s;
  }
  
  .david1:hover .david2 {
    opacity: 1;
  }
  .weather1 {
    position: relative;
  }
  
  .weather1 .weather2 {
    position: absolute;  
    top: 0;  
    left: 105px;
    opacity: 0;
    transition: .5s;
  }
  
  .weather1:hover .weather2 {
    opacity: 1;
  }
  /*fila2*/
  .talkin1 {
    position: relative;
  }
  
  .talkin1 .talkin2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .talkin1:hover .talkin2 {
    opacity: 1;
  }
  .prince1 {
    position: relative;
  }
  
  .prince1 .prince2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .prince1:hover .prince2 {
    opacity: 1;
  }
  .rolling1 {
    position: relative;
  }
  
  .rolling1 .rolling2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .rolling1:hover .rolling2 {
    opacity: 1;
  }
  .acdc1 {
    position: relative;
  }
  
  .acdc1 .acdc2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .acdc1:hover .acdc2 {
    opacity: 1;
  }
  .elvis1 {
    position: relative;
  }
  
  .elvis1 .elvis2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .elvis1:hover .elvis2 {
    opacity: 1;
  }
  /*fila3*/
  .post1 {
    position: relative;
  }
  
  .post1 .post2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .post1:hover .post2 {
    opacity: 1;
  }
  .fleet1 {
    position: relative;
  }
  .fleet1 .fleet2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .fleet1:hover .fleet2 {
    opacity: 1;
  }
  .daft1 {
    position: relative;
  }
  .daft1 .daft2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .daft1:hover .daft2 {
    opacity: 1;
  }
  .Iz1 {
    position: relative;
  }
  .Iz1 .Iz2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .Iz1:hover .Iz2 {
    opacity: 1;
  }
  .queen1 {
    position: relative;
  }
  .queen1 .queen2 {
    position: absolute;  
    top: 0;  
    left: 95px;
    opacity: 0;
    transition: .5s;
  }
  
  .queen1:hover .queen2 {
    opacity: 1;
  }
  /*animacion banner*/
  .animacion-banner{
      width: 700px;
      height: 300px;
      border: 3px solid red;
      margin: auto;
     
    background-size: cover;
    background-position: center;

    animation: banner 10s  infinite;
    animation-direction: alternate;
    
  }
  @keyframes banner {
        0% , 30%{
            background-image: url(../src/backg1.jpg);
            opacity: 1;
        }
        31%,34%{
            opacity: 0.1;
        }
        35%,65%{
            background-image: url(../src/backg2.png);
            opacity: 1;
        }
        66%, 69%{
            opacity: 0.1;
        }
        70%,100%{
            background-image: url(../src/backg3.jpg);
            opacity: 1;
        }
}
/*formulario*/
form{
    width: 550px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius:7px ;
}
.reserva h1{
    color: yellow;
    -webkit-text-stroke: 1px black;
    margin-bottom: 20px;
    margin: 0;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 27px;
    border: none;
}
#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor:pointer;
}